.Wrapper {
  position: relative;
  display: flex;
}
.canvas {
  z-index: 100;
  background-color: white;
}

.ToolsOptions {
  margin-left: 5rem;
}
.Canvases {
  position: relative;
}
#overlay {
  z-index: 30;
  position: absolute;
  top: 0;
  left: 0;
}
#overlay:hover {
  cursor: crosshair;
}
