:root {
  --bg: #2b2d42;
  --bg-section: #8d99ae;
  --bg-button: #191a22;
  --bg-buttonlight: #37373c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
}
.App {
  display: flex;
  flex-direction: column;
}
.linkGithub {
  color: rgb(140, 20, 20);
  margin-left: 2rem;
}
